body {
  padding-bottom: 15rem;
}
.game-board {
  position: relative;
  background: #bbada0;
  padding: 15px;
}
.game-row {
  margin-bottom: 15px;
}
.game-row:last-child {
  margin-bottom: 0;
}
.game-tile {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 3px;
  background: #eee4da;
  text-align: center;
  font-weight: bold;
  font-size: 55px;
  margin-right: 15px;
}
@media screen and (max-width: 420px) {
  .game-tile {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
  }
}




.game-tile:last-child {
  margin-right: 0;
}

.game-tile-empty {
  background-color: rgba(238, 228, 218, 0.35);
}
.game-tile-2 {
  background-color: #eee4da;
}
.game-tile-4 {
  background-color: #eee1c9;
}
.game-tile-8 {
  color: #f9f6f2;
  background: #f3b27a;
}
.game-tile-16 {
  color: #f9f6f2;
  background: #f69664;
}
.game-tile-32 {
  color: #f9f6f2;
  background: #f77c5f;
}
.game-tile-64 {
  color: #f9f6f2;
  background: #f75f3b;
}
.game-tile-128 {
  color: #f9f6f2;
  background: #edd073;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2380952381), inset 0 0 0 1px rgba(255, 255, 255, 0.1428571429);
  font-size: 45px;
}
.game-tile-256 {
  color: #f9f6f2;
  background: #edcc62;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.3174603175), inset 0 0 0 1px rgba(255, 255, 255, 0.1904761905);
  font-size: 45px;
}
.game-tile-512 {
  color: #f9f6f2;
  background: #edc950;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.3968253968), inset 0 0 0 1px rgba(255, 255, 255, 0.2380952381);
  font-size: 45px;
}
@media screen and (max-width: 420px) {
  .game-tile-512 {
    font-size: 12px;
  }
}
.game-tile-1024 {
  color: #f9f6f2;
  background: #edc53f;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.4761904762), inset 0 0 0 1px rgba(255, 255, 255, 0.2857142857);
  font-size: 35px;
}
@media screen and (max-width: 420px) {
  .game-tile-1024 {
    font-size: 12px;
  }
}
.game-tile-2048 {
  color: #f9f6f2;
  background: #edc22e;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.5555555556), inset 0 0 0 1px rgba(255, 255, 255, 0.3333333333);
  font-size: 35px;
}
@media screen and (max-width: 420px) {
  .game-tile-2048 {
    font-size: 12px;
  }
}


.ctrl-key {
  width: 25px;
  height: 25px;
  line-height: 25px;
  background: black;
  text-align: center;
  border: 1px solid #333;
  margin: 1px;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 420px) {
  .ctrl-key {
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin: 3px;
    background: rgba(0, 0, 0, 0.75)
  }
  .keys {
    position: absolute;
    right: 20px;
    bottom: 60px;
  }
}



.tile-animate {
  animation: fadeIn;
  animation-duration: 2s;
}

.game-result {
  position: absolute;
  left: 20%;
  top: 40%;
  font-size: 90px;
  text-align: center;
}
/* .game-controls {
 position: absolute;
 right: 20px;
 bottom: 20px;
} */

.chat-window {
  max-height: 400px;
  overflow: scroll;
  background: #fdfbea;
  padding: 10px;
  border: 1px solid #d8d8d8;
}

.chat-window p {
  border-bottom: 1px solid #dadada;
  padding-bottom: 5px;
}

.copy-btn{
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc,#eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
}